# Git
.git
.gitignore
.gitattributes

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
hs_err_pid*

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md

# SQLsql
*.sql

# Test & Postman collections
*.postman_collection.json
*Test*.json

# Other
.github/
####
# Docker
